/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}


/**
 * Другие стили
 */
header{
	position: fixed;
	width: 100%;
	background-color: rgba(255,255,255,1);
}
.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}
.navbar .container {
	height: inherit;
	display:flex;
	justify-content:space-between ;
	align-items: center;
}
.navbar-menu {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.navbar-menu li {
	display: inline-block;
}
.navbar-menu li a {
	display: inline-block;
	color: #000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .07s;
}
.navbar-menu li a:hover {
	opacity: 1;
}
.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}
#callback {
	font-size: 20px;
	margin-left: 30px;
	margin-top: 6px;
	padding: 10px;
	background-color: #77933C;
	border-radius: 100px;
	color: #fff;
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;
	transition: all .1s;
}
.navbar-brand {
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
	color: #000;
	transition: all .07s ease-in-out;
}
.navbar-brand:hover {
	color: #77933C;
}
#callback:hover {
	color: white;
	transform: scale(1.04);
    box-shadow: 5px 5px 1600px 5px #77933C;}
#trrr {
	display: inline-block;
	
}
.wrapper {

}
.rarrr {
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
}
.ak {
	font-weight: 700;
	font-size: 13px;
	text-decoration: none;
}
.dr {
	font-weight: 500;
	font-size: 23px;
	text-decoration: none;
	color: #000;
}
.ark {
	font-weight: 700;
	font-size: 50px;
	text-decoration: none;
}
.tt2 {
	font-weight: 600;
	font-size: 23px;
	text-decoration: none;
	color: #77935C;
}
.tt1 {
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
	color: white;
}
.table {
  border-radius: 10%; 
}